<div class="header">
  <div class="container">
    <div class="row">
      <div class="menu col-xs-8">
  			<ul>
          <li><%= link_to "Welcome", controller: "pages", action: "welcome" %></li>
	  			<li>Portfolio</li>
	  			<li>Block</li>
     		 	 <li>About</li>
     		 	 <li>Contact</li>
			 	 </ul>
        </div>
        <div class="name col-xs-4">
          <h1>Fabian Arango</h1>
        </div>
      </div>
  </div>
</div>
<div class="main portfolio">
  <div class="jumbotron slideshow">
    <!--<div class="slideshowContainer">-->
      <div class="banner">
   			 <ul>
        		<li style="background-image: url(https://portfolio-rails-2633.herokuapp.com/assets/slide02-3c9662ea3f8d9ce479b5a76aedfa3f7b.jpg)">This is a slide.</li>
        		<li style="background-image: url(https://portfolio-rails-2633.herokuapp.com/assets/slide01-9d5c1b911de14032bbc4cc7b19514447.jpg)">This is another slide.</li>
        		<li>This is a final slide.</li>
  		  </ul>
		</div>
      <!--</div>-->
    </div>
  </div>
</div>
<script>
  $(function() {
    $('.banner').unslider();
});
</script>
<div class="footer">
  <div class="container">
    <ul class="social_media">
      <li>
        <a class="github" href="#">github</a>
      </li>
      <li>
        <a class="linkedin" href="#">linkedin</a>
      </li>
      <li>
        <a class="twitter" href="#">twitter</a>
      </li>
     </ul>
    <p>© 2015 Fabian Arango</p>
  </div>
</div>
