<div class="header">
  <div class="container">
    <div class="row">
      <div class="menu col-xs-8">
  			<ul>
	  			<li>Welcome</li>
	  			<li>Portfolio</li>
	  			<li>Block</li>
     		 	 <li>About</li>
     		 	 <li>Contact</li>
			 	 </ul>
        </div>
        <div class="name col-xs-4">
          <h1>Fabian Arango</h1>
        </div>
      </div>
  </div>
</div>
<div class="main home">
  <div class="jumbotron">
    <div class="container">
        <h2>"Hola. Soy <span class="highlight">Fabian Mauricio Arango</span>, ingeniero de profesion y me gusta...</h2>
        <a class="btn right" href="#">Vea mi trabajo</a>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <ul class="social_media">
      <li>
        <a class="github" href="#">github</a>
      </li>
      <li>
        <a class="linkedin" href="#">linkedin</a>
      </li>
      <li>
        <a class="twitter" href="#">twitter</a>
      </li>
     </ul>
    <p>© 2015 Fabian Arango</p>
  </div>
</div>
